---
import MainLayout from '../components/layout/MainLayout.astro';
import PracticeExam from '../components/exam/PracticeExam';
---
<MainLayout title="Practice Final Exam">
  <div class="min-h-[calc(100vh-3.5rem)]">
    <PracticeExam client:load />
  </div>
</MainLayout>
